<div class = "row">
           <div class="bg-img">

                   <p class="lead">ようこそ、moviappへ！<br>このサイトは、映画の評価・感想を投稿するサイトなります。<br>
                   まずはゲストログインをして投稿された評価を見てみましょう。</p>

           </div>
</div>