<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>ポスター画像</th>
      <th>タイトル</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% movies.each do |movie| %>
      <tr>
        <td>
          <%= image_tag movie.img_url, size: "200x300" %>
        </td>
        <td><%= link_to movie.title,master_movie_path(movie.id), class: "movie_#{movie.id}" %></td>
    <% end %>
  </tbody>
</table>